#******************************************************************************
#* FPGA implementation of the Nintendo Entertainment System (NES).            *
#*                                                                            *
#* User constraints file for the LOGSYS Spartan-6 v2.0 FPGA board.            *
#* Version      : 1.0                                                         *
#* Last modified: 04/07/2011                                                  *
#*                                                                            *
#* Copyright (c) 2010 Tamás Raikovich (rtamas@mit.bme.hu)                     *
#* All rights reserved.                                                       *
#*                                                                            *
#* For educational purposes only. Redistribution of the source code or the    *
#* synthesized form, with or without modification, is not permitted.          *
#******************************************************************************

CONFIG VCCAUX=3.3;

#******************************************************************************
#* Clock and reset constraints.                                               *
#******************************************************************************
NET clk_in LOC = P85 | IOSTANDARD = LVCMOS33 | TNM_NET = TNM_CLK_IN;
TIMESPEC TS_CLK_IN = PERIOD TNM_CLK_IN 50 MHz HIGH 50 %;

NET rstn_in LOC = P92 | IOSTANDARD = LVCMOS33 | PULLUP | TIG;


#******************************************************************************
#* SRAM interface.                                                            *
#******************************************************************************
NET sram_address<0>   LOC = P47  | IOSTANDARD = LVCMOS33;
NET sram_address<1>   LOC = P46  | IOSTANDARD = LVCMOS33;
NET sram_address<2>   LOC = P45  | IOSTANDARD = LVCMOS33;
NET sram_address<3>   LOC = P44  | IOSTANDARD = LVCMOS33;
NET sram_address<4>   LOC = P43  | IOSTANDARD = LVCMOS33;
NET sram_address<5>   LOC = P34  | IOSTANDARD = LVCMOS33;
NET sram_address<6>   LOC = P33  | IOSTANDARD = LVCMOS33;
NET sram_address<7>   LOC = P32  | IOSTANDARD = LVCMOS33;
NET sram_address<8>   LOC = P30  | IOSTANDARD = LVCMOS33;
NET sram_address<9>   LOC = P29  | IOSTANDARD = LVCMOS33;
NET sram_address<10>  LOC = P7   | IOSTANDARD = LVCMOS33;
NET sram_address<11>  LOC = P6   | IOSTANDARD = LVCMOS33;
NET sram_address<12>  LOC = P5   | IOSTANDARD = LVCMOS33;
NET sram_address<13>  LOC = P2   | IOSTANDARD = LVCMOS33;
NET sram_address<14>  LOC = P1   | IOSTANDARD = LVCMOS33;
NET sram_address<15>  LOC = P139 | IOSTANDARD = LVCMOS33;
NET sram_address<16>  LOC = P138 | IOSTANDARD = LVCMOS33;
NET sram_address<17>  LOC = P137 | IOSTANDARD = LVCMOS33;

NET sram_data<0>      LOC = P40  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<1>      LOC = P17  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<2>      LOC = P21  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<3>      LOC = P22  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<4>      LOC = P23  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<5>      LOC = P24  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<6>      LOC = P26  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<7>      LOC = P27  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<8>      LOC = P8   | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<9>      LOC = P9   | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<10>     LOC = P10  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<11>     LOC = P11  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<12>     LOC = P12  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<13>     LOC = P14  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<14>     LOC = P15  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET sram_data<15>     LOC = P16  | IOSTANDARD = LVCMOS33 | PULLDOWN;

NET sram_lbn          LOC = P142 | IOSTANDARD = LVCMOS33;
NET sram_ubn          LOC = P141 | IOSTANDARD = LVCMOS33;
NET sram_oen          LOC = P140 | IOSTANDARD = LVCMOS33;
NET sram_wen          LOC = P35  | IOSTANDARD = LVCMOS33;
NET sram_csn          LOC = P41  | IOSTANDARD = LVCMOS33;


#******************************************************************************
#* DVI/HDMI interface.                                                        *
#******************************************************************************
NET tmds_data0_out_p LOC=P121 | IOSTANDARD=TMDS_33;
NET tmds_data0_out_n LOC=P120 | IOSTANDARD=TMDS_33;
NET tmds_data1_out_p LOC=P124 | IOSTANDARD=TMDS_33;
NET tmds_data1_out_n LOC=P123 | IOSTANDARD=TMDS_33;
NET tmds_data2_out_p LOC=P127 | IOSTANDARD=TMDS_33;
NET tmds_data2_out_n LOC=P126 | IOSTANDARD=TMDS_33;
NET tmds_clock_out_p LOC=P117 | IOSTANDARD=TMDS_33;
NET tmds_clock_out_n LOC=P116 | IOSTANDARD=TMDS_33;

//Timing constraints for the TMDS transmitter.
NET clk TNM_NET = TNM_CLK25M;
TIMESPEC TS_CLK25M = PERIOD TNM_CLK25M 25 MHz HIGH 50 % PRIORITY 0;

NET clk_2x TNM_NET = TNM_CLK50M;
TIMESPEC TS_CLK50M = PERIOD TNM_CLK50M TS_CLK25M * 2;

NET clk_10x TNM_NET = TNM_CLK250M;
TIMESPEC TS_CLK250M = PERIOD TNM_CLK250M TS_CLK25M * 10;

TIMEGRP serializer_ram      = RAMS(*/tmds_transmitter/serializer/ram_dout<*>);  
TIMEGRP serializer_ram_dout = FFS(*/tmds_transmitter/serializer/ram_dout_reg<*>);
TIMEGRP serializer_rd_addr  = FFS(*/tmds_transmitter/serializer/rd_address<*>);

TIMESPEC TS_ramdo = FROM serializer_ram TO serializer_ram_dout TIG;
TIMESPEC TS_ramra = FROM serializer_rd_addr TO serializer_ram_dout TIG;


#******************************************************************************
#* Audio DAC control and data interface.                                      *
#******************************************************************************
NET audio_dac_mclk     LOC = P131 | IOSTANDARD = LVCMOS33;
NET audio_dac_bclk     LOC = P133 | IOSTANDARD = LVCMOS33;
NET audio_dac_lrclk    LOC = P132 | IOSTANDARD = LVCMOS33;
NET audio_dac_data     LOC = P134 | IOSTANDARD = LVCMOS33;


#******************************************************************************
#* Gamepad interface.                                                         *
#******************************************************************************
NET ctrl1_latch LOC = P78  | IOSTANDARD = LVCMOS33 ;
NET ctrl1_clk   LOC = P79  | IOSTANDARD = LVCMOS33;
NET ctrl1_data  LOC = P75  | IOSTANDARD = LVCMOS33 | PULLUP;
NET ctrl2_latch LOC = P67  | IOSTANDARD = LVCMOS33 ;
NET ctrl2_clk   LOC = P74  | IOSTANDARD = LVCMOS33;
NET ctrl2_data  LOC = P66  | IOSTANDARD = LVCMOS33 | PULLUP;


#******************************************************************************
#* SPI interface.                                                             *
#******************************************************************************
NET flash_csn   LOC = P38  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET flash_clk   LOC = P70  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET flash_mosi  LOC = P64  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET flash_miso  LOC = P65  | IOSTANDARD = LVCMOS33;

NET sd_csn      LOC = P57  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET sd_clk      LOC = P55  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET sd_mosi     LOC = P56  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET sd_miso     LOC = P51  | IOSTANDARD = LVCMOS33;

NET sd_pwrenn   LOC = P59  | IOSTANDARD = LVCMOS33;


#******************************************************************************
#* UART interface.                                                            *
#******************************************************************************  
NET uart_rxd LOC = P104 | IOSTANDARD = LVCMOS33;
NET uart_txd LOC = P144 | IOSTANDARD = LVCMOS33;
